body {
    margin: 0;
}

h1 {
    color: darkcyan;
}

p {
    font-size: 25px;
    color: blue;
}

h3 {
    color: aquamarine;
}

.done {
    color: red;
}

section {
    display: flex;
}

.half-width {
    width: 100%;
    text-align: center;
}

.half-width img {
    width: 100%;
    opacity: 50%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 700;
    border-radius: 5px;
}

.top-banner {
    background-image: url(images/donation2.jpg);
    background-repeat: no-repeat;
}

.logo-new {
    width: 10px;
}